.sheet-tab a.nav-link.active {
    background: #365799;
    color: #ffffff;
}

/* daily logs toolbar style*/
.daily_logs_toolbar {
    color: #006c5c;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    padding: 4px;
    margin: 1px 4px 2px 1px;
    position: sticky;
    top: 0;
    z-index: 3;
    min-width: fit-content;
    font-size: 16px;
    font-weight: bold;
}

.create_new_daily_logs {
    background: url(/icons/create_invoice.svg) no-repeat 0 0 / 30px 25px;
    width: 25px;
    height: 27px;
}

.print_daily_logs {
    background: url(/icons/ss_print.svg) no-repeat 0 0 / 27px 25px;
    width: 27px;
    height: 27px;
}

.remove_daily_logs {
    background: url(/icons/ss_delete.svg) no-repeat 0 0 / 25px 22px;
    width: 22px;
    height: 25px;
}

.select_all {
    background: url("/icons/uncheck.svg") no-repeat 0 0 / 20px 20px;
    width: 20px;
    height: 20px;
}

/* daily logs style */
.daily_log_item {
    display: flex;
    border: 1px solid #006c5c;
    border-radius: 10px;
    margin: 0.5rem;
}

.daily_log_item_left {
    border-right: 1px solid #006c5c;
    padding: 5px;
    width: 3%;
}


.daily_log_detail_open_close {
    background: url("/icons/expand_bottom.svg") no-repeat 0 0 / 25px 25px;
    width: 25px;
    height: 25px;
    display: block;
    margin-left: 3px;
    margin-top: 5px;
}

.daily_log_item_right {
    width: 97%;
    margin-left: 1rem;
    margin-right: 1rem;
}

.daily_log_item_right_top {
    display: flex;
    border-bottom: 1px solid #006c5c;
}

.daily_log_item_right_bottom {
    display: none;
    padding: 5px;
}

.daily_log_attach {
    background: url("/icons/attach.svg") no-repeat 0 0 / 50px 50px;
    width: 50px;
    height: 50px;
    display: block;
}

.select_daily_log_item {
    background: url("/icons/uncheck.svg") no-repeat center center / 20px 20px;
    width: 20px;
    height: 20px;
    display: block;
    margin-left: 4px;
    margin-top: 5px;
}

.checked {
    background: url("/icons/check.svg") no-repeat 0 0 / 20px 20px;
    width: 30px;
    height: 30px;
}

.unchecked {
    background: url("/icons/uncheck.svg") no-repeat 0 0 / 20px 20px;
    width: 30px;
    height: 30px;
}

.select_all {
    background: url("/icons/uncheck.svg") no-repeat 0 0 / 20px 20px;
    width: 20px;
    height: 20px;
}

.attach_file_name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.customer_can_view_label {
    color: #006b5c;
    font-size: 20px;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url("/icons/calendar.svg") no-repeat 0 0 / 20px 20px;
    width: 20px;
    height: 20px;
    border-width: thin;
}