/* proposal item style */
.form-group.required .col-form-label:after {
    content: "*";
    color: red;
}

.error {
    color: red;
}

.proposal_item_block {
    border: 2px solid;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 24px;
    border-color: #136f61;
}

/* tree icons style */

#proposalitem_tree, #create_proposalitem_tree {
    height: 50vh;
    overflow: auto;
}

.tree_expand {
    background: url("/icons/ss_tree_expand.svg") no-repeat 0 0 / 40px 30px;
    width: 44px;
    height: 30px;
}

.tree_collapse {
    background: url("/icons/ss_tree_collapse.svg") no-repeat 0 0 / 40px 30px;
    width: 44px;
    height: 30px;
}

.search_tree {
    background: url("/icons/ss_tree_search.svg") no-repeat 0 0 / 40px 30px;
    width: 50px;
    height: 30px;
}

.clear_search {
    background: url("/icons/ss_clear_search.svg") no-repeat 0 0 / 40px 27px;
    width: 50px;
    height: 30px;
}